doctype html
html(lang='en')
  head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    // Latest compiled and minified CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    title Home
    style.
      .row.content {height: 450px}
      footer {
      background-color: #555;
      color: white;
      padding: 15px;
      }
      .logo {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      }
      .jumbotron {
      color: white;
      }
      /* On small screens, set height to 'auto' for sidenav and grid */
      @media screen and (max-width: 767px) {
      .sidenav {
      height: auto;
      padding: 15px;
      }
      .row.content {height:auto;}
      }
      h1 {
      color:green
      }
      h5 {
      color:green
      }
      h6 {
      color: LIGHTCORAL;
      }
      h2 {
      color: LIGHTCORAL;
      margin-left: 40px;
      text-align: center;
      }
      h3 {
      color: LIGHTCORAL;
      /* margin-left: 40px;
      text-align: left; */
      }
      input {
      text-align: center;
      width: 20%;
      text-align: center;
      }
      #title  {
      color: LIGHTCORAL;
      margin-top: 50px;
      margin-bottom: -140px;
      }
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.dropdown.active
            a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              | Workout Routines
            .dropdown-menu(role='menu', aria-labelledby='navbarDropdown')
              a.dropdown-item(href='./workouts/new') Add Workout
        form.form-inline.my-2.my-lg-0
          button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Graph
    .jumbotron.text-center
      img.logo(src='/images/Healthy-Lifestyle.jpg', alt='My_Logo')
      h1 Healthy Habits Reminder
      h5 How to Maintain a Healthy Lifestyle
    .container
      .row
        .col-sm-4
          h3 Drink Water
          p
            | Drinking water is crucial to staying healthy and maintaining the function of
            | every system in your body, including your heart, brain, and muscles
          p
            | Fluids carry nutrients to your cells, flush bacteria from your bladder, and prevent constipation.
        .col-sm-4
          h3 Exercise
          p
            | Exercise can help keep your body at a healthy weight. Exercise helps people
            | lose weight and lower the risk of some diseases
          p
            | Exercising regularly decreases a person's risk of developing certain diseases,
            | including obesity, type 2 diabetes, and high blood pressure.
        .col-sm-4
          h3 Sleep Right
          p
            | Sleep plays an important role in your physical health as sleep is involved in
            | healing and repair of your heart and blood vessels
          p
            | Ongoing sleep deficiency is linked to an increased risk of heart disease,
            | kidney disease, high blood pressure, diabetes, and stroke.
    .container-fluid
      .row.content
        // <div class="col-sm-8">
        h3#title.container.raw Let's Track Your Daily Healthy Lifestyle
        //
          <div id="result" class="container">
          <h1></h1>
          </div>
        .container
          .form-check
            input#sleep.form-check-input(type='checkbox', value='')
            label.form-check-label(for='defaultCheck1')
              | Did you sleep a minimum of eight hours?
          .form-check
            input#workout.form-check-input(type='checkbox', value='')
            label.form-check-label(for='defaultCheck1')
              | Did you workout?
          .form-check
            input#water.form-check-input(type='checkbox', value='')
            label.form-check-label(for='defaultCheck1')
              | Did you drink enough water (seven glasses)?
          .form-check
            input#food.form-check-input(type='checkbox', value='')
            label.form-check-label(for='defaultCheck1')
              | Did you eat fruit or veggie at every meal?
          .form-check
            input#med.form-check-input(type='checkbox', value='')
            label.form-check-label(for='defaultCheck1')
              | Did you meditate in the morning?
          .form-check
            input#phone.form-check-input(type='checkbox', value='')
            label.form-check-label(for='defaultCheck1')
              | Did you spend two hours of no phone before bed?

          hr
          .container
            h6#result
          div
            input#subBtn.btn.btn-primary.left.btn-md(value='Submit')
    footer.container-fluid.text-center
    script(type='text/javascript').
      document.getElementById('subBtn').disabled = false;
      var a = document.getElementById('sleep');
      var b = document.getElementById('workout');
      var c = document.getElementById('water');
      var d = document.getElementById('med');
      var e = document.getElementById('phone');
      function calc(){
      count = 0;
      if (document.getElementById("sleep").checked===true){
      count++;
      document.getElementById('result').innerHTML = "";
      };
      if (document.getElementById("workout").checked===true){
      count++;
      document.getElementById('result').innerHTML = "";
      };
      if (document.getElementById("water").checked===true){
      count++;
      document.getElementById('result').innerHTML = "";
      };
      if (document.getElementById("med").checked===true){
      count++;
      document.getElementById('result').innerHTML = "";
      };
      if (document.getElementById("phone").checked === true){
      count++;
      document.getElementById('result').innerHTML = "";
      };
      if (count === 1) {
      document.getElementById('result').innerHTML = "Very Poor LifeStyle, you need to improve!";
      // alert('very poor!');
      }
      else if (count === 2){
      // document.getElementById('result').innerHTML = "";
      document.getElementById('result').innerHTML = "Poor LifeStyle, you need to improve!";
      // document.getElementById('result').innerHTML = "";
      }
      else if (count === 3){
      document.getElementById('result').innerHTML = "Congratulations, Good LifeStyle!! You are almost here!!";
      // document.getElementById('result').innerHTML = "";
      }
      else if (count>=4){
      document.getElementById('result').innerHTML = "Congratulations, Excellent LifeStyle!! You are doing an amazing job";
      }
      // document.getElementById('result').innerHTML = "";
      document.getElementById('subBtn').disabled = true;
      }
      document.getElementById('subBtn').addEventListener('click', calc, false);
    // Optional JavaScript
    // jQuery first, then Popper.js, then Bootstrap JS
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
