extends layout.pug

block content

    .bs-example
      form(method="POST").form-horizontal
        .form-group
          label(for='date').col-sm-3.control-label Date
          .col-sm-3
            input#date.form-control(type='text', placeholder='mm/dd/year', name="date")
        .form-group
          label.col-sm-3.control-label(for='inputDefault') Distance
          .col-sm-3
            input#inputDefault.form-control(type='text', placeholder='mi')
        .form-group
          label.col-sm-3.control-label(for='inputDefault') Duration
          .col-sm-3
            input#inputDefault.form-control(type='text', placeholder='min')
        .form-group
          label.col-sm-3.control-label(for='inputDefault') Calories
          .col-sm-3
            input#inputDefault.form-control(type='text', placeholder='cal')
        button.btn.btn-primary.main.left.col-sm-2(type="submit")  Submit
