<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<head>
  <title>Login </title>
  <meta name="viewport" content="width-device-width">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/
  css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>
  <script src="http://maxcdn.bootstrapcdn.com/boostrap/3.3.4/js/boostrap.min.js">
  </script>
</head>
<body>

<div class="container">
   <h3>Login In </h3>
     <button type="button" class="btn btn-success" data-toggle="modal" data-target="#popUpWindow">Open Loggin Window</button>
   <div class="modal fade" id="popUpWindow">
     <div class="modal-dialog">
       <div class="modal-content">
           <!--header -->
           <div class="modal-header"></div>
             <button>&times;</button>
           <!--body (form) -->
           <div class="modal-body"></div>

           <!--button -->
           <div class="modal-footer"></div>


     </div>
</div>
</body>
</html>
